@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'material-icons/iconfont/material-icons.css';

@font-face {
  font-family: 'ClickerScript';
  src: url('../public/fonts/ClickerScript/ClickerScript-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('../public/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'PoppinsExtraLight';
  src: url('../public/fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../public/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'PoppinsThin';
  src: url('../public/fonts/Poppins/Poppins-Thin.ttf');
}

.ql-container {
  height: 300px !important;
}

.quill.error {
  border: 1px solid #c0334d !important;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
